/* // alignItems="center" gridGap="20" justifyContent="space-between"> */
.box-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.font-bold {
    font-weight: bold;
}