.carousel .slider-wrapper {
    border-radius: 8px;
}

.carousel .slide img {
    filter: brightness(.95);
}

.slider-mobile {
    display: none;
}

.slider-title {
    color: #FFFFFF;
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -43%);
    z-index: 1;
    cursor: default;
}

.slider-gradient {
    background: -webkit-linear-gradient(#7928ca, #ff0080);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 600px) { 
    
.slider-desktop {
    display: none;
}

.slider-mobile {
    display: block;
}

 }