.mobile-menu {
    display: none;
}
.hover_box:hover {
    color: #bebebe;
}

@media (max-width: 1000px) { 
    .list-menu {
        display: none;
    }
    .btn-menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
 }